#main_header {
    position: sticky;
    width: 100%;
    height:10%;
    background-color: green;
    text-align: center;
}

#main_center{
    position:sticky;
    width: 100%;
    height:100%;
    background-color: brown;
}

#main_footer{
    position: sticky;
    width: 100%;
    height:10%;
    background-color: red;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }