#main_header {
    width: 100%;
    text-align: center;
    background-color: blue;
}


#main_center{
    margin: 100px;

}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }


#main_footer{
    width: 100%;
    text-align: center;
    background-color: red;
}


